- var siteName = "Quasseldroid IRC Client";
- var pageDescription = "Chat comfortably, everywhere. Always stay connected to IRC, never miss a notification. Access all your channels on the go.";
- var pageUrl = "https://quasseldroid.info/";
block vars
- var fullTitle = (page === 'index' ? siteName : pageTitle + " | " + siteName)
include _mixins
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title=fullTitle
    meta(name="description" content=pageDescription)

    link(rel="canonical" href=pageUrl)
    link(rel="shortcut icon" href="/favicon.png")
    link(rel="shortcut icon" href="/favicon.svg")

    meta(property="og:site_name" content=siteName)
    meta(property="og:type" content="website")
    meta(property="og:title" content=fullTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:url" content=pageUrl)

    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:title" content=fullTitle)
    meta(property="twitter:description" content=pageDescription)
    meta(property="twitter:url" content=pageUrl)

    meta(name="generator" content="Human v1.0")

    meta(name="referrer" content="origin")

    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="HandheldFriendly" content="True")

    meta(name="theme-color" content="#0a70c0")
    meta(name="msapplication-navbutton-color" content="#0a70c0")
    meta(name="apple-mobile-web-app-status-bar-style" content="#0a70c0")
    
    link(rel="preload" as="font" href="/assets/fonts/icons.woff2")
    link(rel="preload" as="font" href="/assets/fonts/Lato-Regular.woff2")
    link(rel="preload" as="font" href="/assets/fonts/Lato-Bold.woff2")

    style
      include ../dist/assets/css/important.css
    style
      include ../dist/assets/css/style.css
    style
      include ../dist/assets/css/fonts.css
    script(async defer data-website-id="24607852-9f78-4e6a-adf4-7bf144c5645c" src="https://umami.kuschku.de/umami.js")
  body#page-index(class=page)
    script
      include ../dist/assets/js/header.js
    .pusher
      .full.height
        .following.bar
          .ui.container
            .ui.large.secondary.menu.inverted
              a.view-ui.item(href="/", class=(page === 'index' ? 'active' : ''))
                img.ui.logo.left(src="/assets/images/icon.svg" aria-hidden="true" role="img" width=256 height=256)
                | Quasseldroid
              a.view-ui.item(href="/docs/")
                | Docs
              .right.menu
                a.view-ui.item(aria-label="Source" href="https://git.kuschku.de/justjanne/quasseldroid-ng/")
                  i.icon.github.left(aria-hidden="true" role="img")
                  span.text.
                    Source
                a.view-ui.item(aria-label="Download" href="/releases/", class=(page === 'releases' ? 'active' : ''))
                  i.icon.download.left(aria-hidden="true" role="img")
                  span.text.
                    Download
        block content
      .ui.black.inverted.vertical.footer.segment
        .ui.center.aligned.container
          .ui.stackable.inverted.grid
            .four.wide.column
              h2.ui.inverted.header.
                Community
              .ui.large.inverted.link.list
                a.item(href="https://www.transifex.com/quasseldroid-1/quasseldroid-1/").
                  Help Translate
                a.item(href="https://lithium.kuschku.de/quasseldroid-theme-editor/").
                  Create a Theme
                a.item(href="https://git.kuschku.de/justjanne/quasseldroid-ng/issues/").
                  Submit an Issue
                a.item(href="ircs://irc.libera.chat/quasseldroid").
                  Join our Chat
                a.item(href="/docs/").
                  Documentation
            .four.wide.column
              h2.ui.inverted.header.
                Discover More
              .ui.large.inverted.link.list
                a.item(href="https://quassel-irc.org/").
                  Quassel
                a.item(href="https://github.com/magne4000/quassel-webserver/").
                  quassel-webserver
                a.item(href="https://github.com/phhusson/quassel-irssi").
                  quassel-irssi
                a.item(href="https://woboq.com/iquassel.html").
                  iQuassel
                a.item(href="http://github.com/justjanne/quassel-rest-search").
                  Quassel-Rest-Search
          .ui.inverted.section.divider

          img.ui.centered.mini.image(src="/assets/images/icon.svg" aria-hidden="true" role="img" width=256 height=256)

          .ui.inverted.link.list
            a.item(href="https://git.kuschku.de/justjanne/quasseldroid-ng/").
              Free &amp; Open Source
            p.item
              a.ui.item(href="/privacy-policy/").
                Privacy Policy
              | &nbsp;·&nbsp;
              a.ui.item(href="https://kuschku.de/imprint/").
                Imprint
            p.item.renewable
              img(src="/assets/images/sprout.svg" aria-hidden="true" role="img" width=256 height=256)
              span This website is hosted with 100% renewable energy.

