extends _template
block vars
  - var page = "privacy-policy";
  - var pageTitle = "Privacy Policy";
block content
  .ui.vertical.stripe.intro.segment
    .ui.stackable.very.relaxed.center.aligned.grid.container
      .row
        .column.left.aligned
          include:markdown-it privacy-policy.md
