extends _template
block vars
  - var page = "releases";
  - var pageTitle = "Downloads";
block content
  .ui.vertical.stripe.intro.segment
    .ui.stackable.very.relaxed.center.aligned.grid.container
      .row
        .column.left.aligned
          h2.ui.header.
            Downloads
          p.
            Quasseldroid is available on F-Droid and the Google Play Store.
      .row.centered
        .wide.column
          .ui.four.doubling.cards
            .card
              a(href="https://play.google.com/store/apps/details?id=com.iskrembilen.quasseldroid")
                img(alt="Google Play" src="/assets/images/badge_play.svg")
            .card
              a(href="https://f-droid.org/packages/com.iskrembilen.quasseldroid/")
                img(alt="F-Droid" src="/assets/images/badge_fdroid.svg")
      .row
        .column.left.aligned
          p.
            The latest beta version is available through the #[a(href='https://play.google.com/apps/testing/com.iskrembilen.quasseldroid') Play Store Beta]
            or through our #[a(href='https://repo.kuschku.de/fdroid/repo/?fingerprint=A0CBC2C29E38ED9542F86A1188412A60C5A756FC4D7A31C4C622242D7AD021F2') F-Droid repository].
          p.
            You can also find the latest release #[a(href='https://s3.kuschku.de/releases/quasseldroid-ng/Quasseldroid-latest.apk') here].
      .row
        .wide.column
          .ui.centered.cards
            .card
              a(href="https://repo.kuschku.de/fdroid/repo/?fingerprint=A0CBC2C29E38ED9542F86A1188412A60C5A756FC4D7A31C4C622242D7AD021F2")
                img(alt="F-Droid Repo QR Code" src="/assets/images/repo.svg")
